@keyframes suntrack {
    from {
        transform: rotate(1turn);
    }
    to {
        transform: rotate(-0.85turn);
    }
}

@keyframes sun-effect {
    from {
        box-shadow: 0 0 10px rgb(255, 245, 194), 0 0 50px rgb(255, 245, 194),
            0 0 75px rgb(247, 222, 102), 0 0 0 20px rgba(255, 231, 164, 0.1),
            0 0 0 40px rgba(255, 240, 163, 0.07), 0 0 0 70px rgba(247, 223, 102, 0.03);
    }
    to {
        box-shadow: 0 0 10px rgb(255, 245, 194), 0 0 50px rgb(255, 245, 194),
            0 0 75px rgb(247, 222, 102), 0 0 8px 30px rgba(255, 249, 232, 0.08),
            0 0 10px 70px rgba(255, 247, 210, 0.05), 0 0 20px 100px rgba(255, 248, 214, 0.03);
    }
}

@keyframes moon-effect {
    from {
        box-shadow: 0 0 10px rgb(255, 255, 253), 0 0 50px rgb(187, 198, 201),
            0 0 75px rgb(133, 163, 168), 0 0 0 20px rgba(255, 231, 164, 0.1),
            0 0 0 40px rgba(255, 240, 163, 0.07), 0 0 0 70px rgba(247, 223, 102, 0.03);
    }
    to {
        box-shadow: 0 0 10px rgb(255, 255, 253), 0 0 50px rgb(187, 198, 201),
            0 0 75px rgb(133, 163, 168), 0 0 8px 30px rgba(255, 249, 232, 0.08),
            0 0 10px 70px rgba(255, 247, 210, 0.05), 0 0 20px 100px rgba(255, 248, 214, 0.03);
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animation-day {
    background: linear-gradient(270deg, #69bef7 0%, #479dee 50%, #3795ff 100%);
    animation: gradient-animation 10s ease infinite;
}

.animation-day-elimination {
    background: -webkit-linear-gradient(-45deg, #69bef7 0%, #d094e7 50%, #d67e91 100%);
    opacity: 0;
    animation: fadein 1s linear forwards, gradient-animation 10s ease infinite;
}

.animation-night-vote {
    background-color: #171c28;
    opacity: 1;
    transition-delay: 0.4s;
    transition: background-color 0.4s ease;
}

#animtaion-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-size: 300% 300%;
}

.sun {
    width: 15vw;
    height: 15vw;
    background: #ff0;
    background: radial-gradient(ellipse at center, #f90 0%, #fc0 60%, #ff0 100%);
    border-radius: 100%;
    position: absolute;
    bottom: -9vw;
    right: 7vw;
    transform-origin: -28vw 7vw;
    animation: suntrack 30s infinite forwards linear, sun-effect 2s alternate infinite;
}

$pale-yellow: #f0f0e3;
$color-carter: #f0f0e3;
.moon {
    opacity: 0;
    width: 15vw;
    height: 15vw;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    bottom: -9vw;
    right: 7vw;
    transform-origin: -28vw 7vw;
    border: 20px solid white;
    animation: suntrack 30s infinite forwards linear, moon-effect 2s alternate infinite;
}

.carter {
    width: 70px;
    height: 70px;
    background-color: $color_carter;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 3;

    &.second {
        width: 27px;
        height: 27px;
        left: 84%;
        top: 55%;
        z-index: 2;
    }

    &.third {
        width: 40px;
        height: 40px;
        left: 65%;
        top: 75%;
        z-index: 1;
    }
}

.star {
    opacity: 1;
    border-radius: 50%;
    background: white;
    position: absolute;
    animation: star linear infinite;
    @for $i from 1 through 60 {
        &:nth-child(#{$i}) {
            $size: random(7) + 3px;
            width: $size;
            height: $size;
            animation-duration: random(30) + 15s;
            animation-delay: random(40) - 40s;
            top: random(101) - 1vh;
        }
    }
}

@keyframes star {
    from {
        transform: translate3d(-100%, 0, 1px);
    }
    to {
        transform: translate3d(100vw, 0, 1px);
    }
}

body {
    color: #333;
    font: 100% Arial, Sans Serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

/* KEYFRAMES */

@keyframes animateCloud {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 100%;
    }
    100% {
        margin-left: -200px;
    }
}

@keyframes moveCloudToRight {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 1000px;
    }
}
/* ANIMATIONS */

.x1 {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
    animation: animateCloud 105s linear alternate infinite;
}

.c1 {
    top: 500px;
    left: -300px;
}

.c2 {
    top: 500px;
    right: -1500px;
}

.x2 {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    animation: animateCloud 105s linear alternate infinite;
}

.x3 {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    animation: animateCloud 105s linear alternate infinite;
}

.x4 {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    animation: animateCloud 105s linear alternate infinite;
}

.x5 {
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
    animation: animateCloud 105s linear alternate infinite;
}

/* OBJECTS */

.cloud {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(5%, #fff),
        color-stop(100%, #95e1ee)
    );
    background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

    height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after,
.cloud:before {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;

    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

.firework-left {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40vh;
    left: 100px;
    z-index: 1;
}

.firework-right {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40vh;
    right: 100px;
    z-index: 1;
    transform: scaleX(-1);
}

@keyframes confetti-slow {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }

    100% {
        transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
}

@keyframes confetti-medium {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }

    100% {
        transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
}

@keyframes confetti-fast {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }

    100% {
        transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
}

.confetti-container {
    perspective: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;

    &--animation-slow {
        animation: confetti-slow 7s linear 1 forwards;
    }

    &--animation-medium {
        animation: confetti-medium 6s linear 1 forwards;
    }

    &--animation-fast {
        animation: confetti-fast 4s linear 1 forwards;
    }
}
