.navbar {
    height: 90px;
    background-image: url("../../../assets/image/background.png");
    background-size: cover;
}

#sun-logo {
    width: 50px;
    margin-left: 1em;
}

#sun-logo-title {
    align-items: center;
    font-size: 2rem;
    position: relative;
    top: 7px;
    left: 15px;
}

#alive-mafia-num {
    font-size: 2rem;
    position: relative;
    top: 7px;
    left: 15px;
}

#start-button-inactive {
    position: absolute;
    width: 244px;
    height: 68%;
    left: 45%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;

    background-color: gray;
    color: white;
    /* border: 5px solid #ffb6c1; */
    border: none;
    border-radius: 25px;
}

#start-button {
    position: absolute;
    width: 244px;
    height: 68%;
    left: 45%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;

    background-color: #ff0081;
    color: white;
    border: 5px solid #ffb6c1;
    border-radius: 25px;

    cursor: pointer;
}

#start-button:hover {
    animation-name: hover-scale-down;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

#start-button:active {
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#timer {
    font-size: 2.5rem;
    top: 25px;
    position: absolute;
    right: 90px;
}

#rule-book {
    top: 30px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-out, color 0.3s ease-out;
}

#rule-book:hover {
    transform: scale(1.1);
    color: gray;
}

#rule-book:active {
    transform: scale(1.1);
    color: black;
}

.rulebook-close {
    position: absolute;
    top: 10px;
    right: 10px;

    transition: transform 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.rulebook-close:hover {
    color: gray;
    transform: scale(1.2);
    cursor: pointer;
}

#confirm-button {
    position: absolute;
    width: 244px;
    height: 68%;
    left: 45%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;

    background-color: #1e90ff;
    color: white;
    border: 5px solid #00bfff;
    border-radius: 25px;
}

.confirm-button-active {
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
}

.confirm-button-active:hover {
    transform: scale(0.9);
    background-color: darken(#1e90ff, 5%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.progress {
    height: 20px;
    background: #484949;
    position: relative;
    margin: auto;
}

.progress-bar {
    background-image: linear-gradient(to right, #152fc0, #9c16a8);
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.rulebook-modal {
    position: relative;
    width: 60%;
    height: 60%;
    z-index: 1002;
    margin: 10% auto;

    background-color: #535353;
    opacity: 0.9;
    border-radius: 40px;
    border: 6px solid #9b9b9b;

    color: white;
    line-height: 1.7em;
    overflow: scroll;
}

.rulebook-modal-description {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1.5em;
    letter-spacing: 2px;
}

@keyframes hover-scale-down {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hover-scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        color: gray;
    }
    100% {
        transform: scale(1);
        color: black;
    }
}
