.navbar {
    height: 90px;
    background-image: url("../../../assets/image/background.png");
    background-size: cover;
}

#sun-logo {
    width: 50px;
    margin-left: 1em;
}

#sun-logo-title {
    align-items: center;
    font-size: 2rem;
    position: relative;
    top: 7px;
    left: 15px;
}

#alive-mafia-num {
    font-size: 2rem;
    position: relative;
    top: 7px;
    left: 15px;
}

#start-button-inactive {
    position: absolute;
    width: 244px;
    height: 68%;
    left: 45%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;

    background-color: gray;
    color: white;
    /* border: 5px solid #ffb6c1; */
    border: none;
    border-radius: 25px;
}

#start-button {
    position: absolute;
    width: 244px;
    height: 68%;
    left: 45%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;

    background-color: #ff0081;
    color: white;
    border: 5px solid #ffb6c1;
    border-radius: 25px;

    cursor: pointer;
}

#start-button:hover {
    animation-name: hover-scale-down;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

#start-button:active {
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 5px 0px rgba(255, 0, 130, 0.5);
}

#timer {
    font-size: 2.5rem;
    top: 25px;
    position: absolute;
    right: 90px;
}

#rule-book {
    top: 30px;
    position: absolute;
    right: 30px;
    cursor: pointer;
}

#rule-book:hover {
    animation-name: hover-scale-up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: black;
}

#confirm-button {
    position: absolute;
    width: 244px;
    height: 68%;
    left: 45%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;

    background-color: #1e90ff;
    color: white;
    border: 5px solid #00bfff;
    border-radius: 25px;

    cursor: pointer;
    transition: transform 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#confirm-button:hover {
    transform: scale(0.9);
    background-color: darken(#1e90ff, 5%);
    box-shadow: 0 5px 20px rgba(25, 13, 90, 0.5);
}

.progress {
    height: 20px;
    background: #484949;
    position: relative;
    margin: auto;
}

.progress-bar {
    background-image: linear-gradient(to right, #152fc0, #9c16a8);
}

@keyframes hover-scale-down {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hover-scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        color: gray;
    }
    100% {
        transform: scale(1);
        color: black;
    }
}
