.cell-box {
    border-radius: 10px;
}

.cell {
    height: 100%;
    padding-top: 10px;
    border-radius: 10px;
    position: relative;
}

.ov-video-wrap {
    position: relative;
    height: 80%;
    width: 95%;
    /* width: 100%; */
    top: 40%;
    left: 50%;

    transform: translate(-50%, -52%);
    /* background-color: black; */
}

#nickname {
    position: absolute;
    color: white;
    background-color: black;
    font-size: small;
    left: 5%;
    bottom: 20%;
}

.vote-box {
    position: absolute;
    height: 20%;
    width: 92%;
    left: 10px;
}

.voter-icon-span {
    position: relative;
    top: 13%;
    margin-right: 10px;
    float: left;
}

.host {
    position: relative;
    width: 100%;
    height: 100%;
}

.crown {
    position: absolute;
    width: 50px;
    transform: rotate(-30deg);
    top: -90%;
    left: -5%;
}

.host-title {
    position: relative;
    color: #fff8dc;
    font-size: 1.7rem;
    letter-spacing: 3px;
    top: 2%;
}
