.cell-box {
    border-radius: 10px;
}

.cell {
    height: 100%;
    padding-top: 10px;
    border-radius: 10px;
    position: relative;
}

.cell-hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.cell-hover:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cell-suspicious {
    z-index: -1;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background-color: #ffff00;
    filter: blur(35px);
    animation: light 2s ease-out infinite;
}

.cell-unsuspicious {
    filter: brightness(60%);
}

.ov-video-wrap {
    position: relative;
    height: 80%;
    width: 95%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -52%);
}

#nickname {
    position: absolute;
    color: white;
    background-color: black;
    font-size: small;
    left: 5%;
    bottom: 20%;
    padding: 2px;
}

.vote-box {
    position: absolute;
    height: 20%;
    width: 92%;
    left: 10px;
}

.voter-icon-span {
    position: relative;
    top: 13%;
    margin-right: 10px;
    float: left;
}

.voter-icon {
    text-shadow: 0px 0px 3px #ffdab9;
}

.host {
    position: relative;
    width: 100%;
    height: 100%;
}

.crown {
    position: absolute;
    width: 50px;
    transform: rotate(-30deg);
    top: -90%;
    left: -5%;
}

.host-title {
    position: relative;
    color: #fff8dc;
    font-size: 1.7rem;
    letter-spacing: 3px;
    top: 2%;
    font-weight: bold;
    text-shadow: #ba55d3 2px 2px 10px;
}

.role-box {
    position: absolute;
    width: 100px;
    height: 60px;
    left: -10%;
    top: -6%;
}

.role-title {
    position: absolute;
    color: white;
    background-color: #000080;
    font-size: medium;
    left: 70%;
    top: 5%;
    padding: 3px;
}

.role-icon {
    width: 2.5rem;
    border-radius: 50%;
}

.civilian {
    background: #fffafa;
}

.police {
    background-color: #1e90ff;
}

.doctor {
    background-color: #48d1cc;
}

.mafia {
    background-color: #b22222;
}

@keyframes light {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
