#main-container {
    height: 100vh;
}

#info-box {
    position: absolute;
    width: 40%;
    height: 105%;

    left: 30%;

    background-color: #535353;
    opacity: 0.9;
    border-radius: 40px;
    border: 6px solid #9b9b9b;
    padding: 10px;

    color: white;
    font-size: larger;
    text-align: center;
    z-index: 1;
}

.info-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    vertical-align: middle;

    line-height: 1.5em;
}

.url-copy-box {
    position: absolute;
    top: 60%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.url-title {
    display: block;
    color: salmon;
    font-size: 300;
    line-height: 2em;
}

.url-copy-text {
    margin-left: 10%;
    margin-right: auto;
    display: inline-block;
}

#url-copy-btn {
    display: inline-block;
    margin-left: 20px;
    color: white;
    cursor: pointer;

    transition: transform 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#url-copy-btn:hover {
    color: green;
    transform: scale(1.2);
    cursor: pointer;
}

#urlInput {
    opacity: 0;
}

.card-box-parent {
    height: 90vh;
    /* overflow: hidden; */
    overflow: scroll;
}
.card-box {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    /* margin-bottom: 30px; */
    height: 28%;
    min-height: 190px;
}

/* 
@media (max-width: 764px) {
    #info-box {
        width: 350px;
        height: 200px;
    }
}

@media (max-height: 830px) {
    #info-box {
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 1000px) {
    #info-box {
        width: 400px;
        height: 200px;
        font-size: small;
    }
}

@media (max-width: 1240px) {
    #info-box {
        width: 500px;
        height: 200px;
    }
} */

/* @media (max-height: 725px) {
    #info-box {
        top: 300px;
        
        height: 200px;
    }
} */

/* @media (min-height: 1000px) {
>>>>>>> Stashed changes
    .card-box {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
}

@media (min-height: 1180px) {
    #info-box {
        width: 890px;
        height: 310px;
    }
} */
